:root {
    --backgroundColor: #f7f7f7;
    --primaryColor: #191a1b;
    --textColorSecondary: rgba(0, 0, 0, 0.45);
}

.ant-dropdown-menu-dark .ant-dropdown-menu-item-selected, .ant-dropdown-menu-dark .ant-dropdown-menu-item-selected:hover, .ant-dropdown-menu-dark .ant-dropdown-menu-item-selected > a {
    color: #fff;
    background: #681F9A;
}

.ant-input, .ant-input-focused {
    /*border:0;*/
    background: #FAF3FC;
    border: 1px solid #FAF3FC;
}

.ant-input:focus, .ant-input-focused {
    background: #fff;
    border: 1px solid #681F9A;
    outline: 0;
    box-shadow: 0 0 0 3px #FAF3FC;
}

.ant-input:hover, .ant-input-focused {
    background: #fff;
    border: 1px solid #681F9A;
    outline: 0;
    box-shadow: 0 0 0 3px #FAF3FC;
}


.ant-input::placeholder {
    color: #B899C2;
}

.ant-input:hover::placeholder {
    color: #333;
}

.ant-input:focus::placeholder {
    color: #333;
}


.ant-checkbox {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: .14rem;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    top: -0.09em;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #681F9A;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #681F9A;
    border-color: #681F9A;
}

.ant-checkbox-checked::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #681F9A;
    border-radius: 2px;
    visibility: hidden;
    -webkit-animation: antCheckboxEffect 0.36s ease-in-out;
    animation: antCheckboxEffect 0.36s ease-in-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    content: '';
}
