:root {
  --backgroundColor: #f7f7f7;
  --primaryColor: #191a1b;
  --textColorSecondary: rgba(0, 0, 0, 0.45);
}

.ant-dropdown-menu-dark .ant-dropdown-menu-item-selected, .ant-dropdown-menu-dark .ant-dropdown-menu-item-selected:hover, .ant-dropdown-menu-dark .ant-dropdown-menu-item-selected > a {
  color: #fff;
  background: #681F9A;
}
